[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Security-Policy = "default-src * 'unsafe-inline' 'unsafe-eval'; connect-src *; script-src * 'unsafe-inline' 'unsafe-eval'; frame-src *; img-src * data: https:; style-src * 'unsafe-inline'; font-src *; worker-src * blob:; child-src *;"